body {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
}

#task-form {
    display: flex;
    justify-content: space-between;
}

#task-input {
    flex-grow: 1;
    padding: 5px;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.task-text {
    margin: 0;
}